In [12]:


import pandas as pd
from sklearn.metrics import roc_curve, auc
import pandas as pd

ERROR: Could not find a version that satisfies the requirement sklearn.metrics (from versions: none)
ERROR: No matching distribution found for sklearn.metrics

In [11]:
!pip install pandas

Requirement already satisfied: pandas in /Users/laurencekuhlburger/miniconda3/envs/jupyter/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /Users/laurencekuhlburger/miniconda3/envs/jupyter/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/laurencekuhlburger/miniconda3/envs/jupyter/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/laurencekuhlburger/miniconda3/envs/jupyter/lib/python3.11/site-packages (from pandas) (2022.6)
Requirement already satisfied: tzdata>=2022.7 in /Users/laurencekuhlburger/miniconda3/envs/jupyter/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/laurencekuhlburger/miniconda3/envs/jupyter/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [33]:
file_path = "/Users/laurencekuhlburger/Documents/crisprseq/benchmarking/crisprseq_test_full/crisprseq_test_full.1/bagel2/precision_recall/Brunello_RepA_Dropout_A375,Brunello_RepB_Dropout_A375_vs_Brunello_pDNA.tsv"
file_essentials = "/Users/laurencekuhlburger/Documents/crisprseq/benchmarking/essential_genes.txt"
file_nonessentials ="/Users/laurencekuhlburger/Documents/crisprseq/benchmarking/graph_crisprcleanr/NEGv1.txt"

df = pd.read_csv(file_path, sep='\t')
df_essentials = pd.read_csv(file_essentials,sep='\t')
df_nonessentials = pd.read_csv(file_nonessentials, sep='\t')

In [21]:
df.head()

    Gene      BF  Recall  Precision  FDR
0   DPH3  57.622   0.000        1.0  0.0
1   RPL5  57.062   0.000        1.0  0.0
2  GINS2  55.471   0.002        1.0  0.0
3  PSMA5  54.389   0.003        1.0  0.0
4  AP2S1  53.804   0.003        1.0  0.0

In [22]:
df_essentials.head()

       Gene
0      AAMP
1      AARS
2     AARS2
3  AASDHPPT
4      AATF

In [23]:
y_true = df_essentials['Gene']

In [24]:
merged_df = pd.merge(df, df_essentials, on='Gene', how='left')

In [26]:
merged_df.head()

    Gene      BF  Recall  Precision  FDR
0   DPH3  57.622   0.000        1.0  0.0
1   RPL5  57.062   0.000        1.0  0.0
2  GINS2  55.471   0.002        1.0  0.0
3  PSMA5  54.389   0.003        1.0  0.0
4  AP2S1  53.804   0.003        1.0  0.0

In [28]:
filtered_df = df[df['Gene'].isin(df_essentials['Gene'])]

In [29]:
filtered_df.head()

    Gene      BF  Recall  Precision  FDR
2  GINS2  55.471   0.002        1.0  0.0
3  PSMA5  54.389   0.003        1.0  0.0
5  PSMG3  53.660   0.005        1.0  0.0
6  SRSF1  53.484   0.006        1.0  0.0
8  DDX23  52.584   0.006        1.0  0.0

In [30]:
len(filtered_df)

1565

NameError: name 'mean' is not defined

In [34]:
# The usual train-test split mumbo-jumbo
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [35]:
X, y = load_digits(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
nb = GaussianNB()
nb.fit(X_train, y_train)
predicted_probas = nb.predict_proba(X_test)